#App {
  text-align: center;
}

.pictures-container {
  position: relative;
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 20px;
    justify-content: space-evenly;
}

.picture-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: relative;
  margin: auto;
  width: 95%;
  height: 400px;
  text-align: center;
}

.image {
  position: relative;
  width: 95%;
  max-height: 50%;
  margin-top: 1rem;
}

.title-and-author {
  position: relative;
  max-width: 95%;
}